<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>
        <div class="d-grid gap-2 d-md-block">
            You can download my resume >> <a href="#" class="btn btn-outline-custom" role="button">Here</a> <<
        </div>

        <div class="row">
            <!-- Maybe adding a div for an image -->
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="https://static.djangoproject.com/img/logos/django-logo-negative.png" class="img-fluid" alt="">
                    </div>
                    <h4>Senior graphic design specialist</h4>
                    <h5>2019 - Present</h5>
                    <p><em>Experion, New York, NY </em></p>
                    <p>
                    <ul>
                        <li>Lead in the design, development, and implementation of the graphic, layout, and
                            production communication materials</li>
                        <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of
                            the project. </li>
                        <li>Supervise the assessment of all graphic materials in order to ensure quality and
                            accuracy of the design</li>
                        <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
