<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>
        {% if resume_file %}
            <div class="d-grid gap-2 d-md-block">
                You can download my resume >> <a href={{ resume_file }} class="btn btn-outline-custom" role="button">Here</a> <<
            </div>
        {% endif %}

        <div class="row">
            <!-- Maybe adding a div for an image -->
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                {% for exp in resume %}
                    <div class="resume-item">
                        <div class="col-lg-4" data-aos="fade-right">
                            <img src="{{ exp.company_image.url }}" class="img-fluid" alt="">
                        </div>
                        <br>
                        <h4>{{ exp.title }}</h4>
                        <h5>{{ exp.start_date }} - {{ exp.end_date }}</h5>
                        <p><em>{{ exp.employment_type }} ({{ exp.employment_location }}) </em></p>
                        <p><em><a href="{{ exp.company_link }}">{{ exp.company_name }}</a> | {{ exp.company_location }} </em></p>
                        <p>
                            {{ exp.description.html | safe }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
<!-- End Resume Section -->
