{% load static %}

<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

      <!-- Output Message message (Bootstrap-v5 only) -->
      {% for msg in messages %}
        {% if msg.level_tag == 'error' %}
          {% comment %} <div class="w-50 alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon-fill"></i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{msg.message}}
          </div> {% endcomment %}

          <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
              <i class="bi bi-exclamation-octagon-fill"></i>
              {{msg.message}}
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% else %}
          {% comment %} <div class="w-50 alert alert-{{msg.level_tag}} alert-dismissible fade show" role="alert">
            <i class="bi bi-{% if msg.level_tag == info %}info-circle-fill{% elif msg.level_tag == warning %}exclamation-triangle-fill{% else %}check-circle-fill{% endif %}"></i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{msg.message}}
          </div> {% endcomment %}

          <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                <i class="bi bi-{% if msg.level_tag == info %}info-circle-fill{% elif msg.level_tag == warning %}exclamation-triangle-fill{% else %}check-circle-fill{% endif %}"></i>
                {{msg.message}}
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      {% comment %} Show bootstrap toast on loading the document. {% endcomment %}
      <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);

            setTimeout(function () {
                bsAlert.show();
            }, 5000);
        };
      </script>

      <h1>
        <a href="">
          <img src="{% static 'img/logo.png' %}" alt="logo" class="img-fluid" style="width: 15%;">
          Edghi.
        </a>
      </h1>
      <h2>I'm a passionate <span>Python Developer</span> from Cameroon</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#portfolio">Realisations</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

      <div class="social-links">
        <a href="https://twitter.com/MakolleG" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.linkedin.com/in/edmond-ghislain-makolle-99716b1a2/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <!-- TODO: Add your Google dev profile and link toyour album of realisations. -->
        <a href="" target="_blank" class="photos"><i class="bi bi-images"></i></a>
        <a href="https://g.dev/" target="_blank" class="google"><i class="bi bi-code"></i></a>
      </div>

    </div>
  </header>
  <!-- End Header -->
