{% extends 'main.html' %}
{% load static %}
{% load humanize %}

{% block add_head %}
  {{ form.media }}
{% endblock add_head %}

{% comment %} Title of the page {% endcomment %}
{% block title %}Edghi{% endblock title %}

{% comment %} Body of the page {% endcomment %}
{% block body %}

  {% comment %} Page Header {% endcomment %}
  {% include "header.html" %}

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'img/about.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ about.role }}</h3>
          <p>
            {{ about.brief.html | safe }}
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bx bx-cake"></i> <strong>Birthday:</strong><span> 22 Mai 1999</span></li>
                {% comment %} <li><i class="bi bi-images"></i> <strong>Collection:</strong> <span><a href="<!-- TODO: Link to your realisations' Google Photos Album -->" target="_blank">Join the album <i class="bi bi-box-arrow-up-right"></i></a></span></li> {% endcomment %}
                <li><i class="bx bxs-phone"></i> <strong>Phone:</strong> <span>{{ about.phone }}</span></li>
                <li><i class="bx bx-map"></i> <strong>City:</strong> <span>{{ about.city }}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-123"></i> <strong>Age:</strong> <span>{{ age }} yo</span></li>
                <li><i class="bx bxs-graduation"></i> <strong>Degree:</strong> <span>{{ about.degree }}</span></li>
                <li><i class="bi bi-at"></i> <strong>Email:</strong> <span>{{ about.email }}</span></li>
                {% if about.freelance == 'Not Available' %}
                    <li><i class="bx bx-briefcase-alt-2"></i> <strong>Freelance:</strong> <span class="text-danger">{{ about.freelance }}</span></li>
                {% elif about.freelance == 'Available | Part time' %}
                    <li><i class="bx bx-briefcase-alt-2"></i> <strong>Freelance:</strong> <span class="text-warning">{{ about.freelance }}</span></li>
                {% else %}
                    <li><i class="bx bx-briefcase-alt-2"></i> <strong>Freelance:</strong> <span class="text-success">{{ about.freelance }}</span></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <p>
            {{ about.about_text.html | safe }}
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">

        {% for item in counts %}
            {% if item.hide == False %}
              <div class="col-lg-3 col-md-6 mt-2">
                  <div class="count-box">
                  <i class="bi bi-{{ item.icon }}"></i>
                  <span data-purecounter-start="0" data-purecounter-end="{{ item.number }}" data-purecounter-duration="1" class="purecounter"></span>
                  <p>{{ item.text }}</p>
                  </div>
              </div>
            {% endif %}
        {% endfor %}

      </div>

    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-12">
            <div class="skillsimg text-center container">
              <!-- TODO: We still need to complete the skills section. Produce each skill's image. -->
                <img src="{% static 'img/skills/python.png' %}" alt="Python" class="image-fluid">
                <img src="{% static 'img/skills/django.png' %}" alt="Django" class="image-fluid">
                <img src="{% static 'img/skills/restapi.png' %}" alt="REST API" class="image-fluid">
                <img src="{% static 'img/skills/postgresql.png' %}" alt="PostgreSQL" class="image-fluid">
                <img src="{% static 'img/skills/graphql.png' %}" alt="GraphQL" class="image-fluid">
                <img src="{% static 'img/skills/flutter.png' %}" alt="Flutter" class="image-fluid">
                <img src="{% static 'img/skills/elasticsearch.png' %}" alt="Elasticsearch" class="image-fluid">
            </div>
        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Interests</h2>
      </div>

      <div class="row">

        {% if interests|length == 0 %}
          <div class="col-12">
            <p class="text-muted">They are still to come...</p>
          </div>
        {% else %}
          {% for item in interests %}
              <div class="col-lg-3 col-md-4 my-2">
                  <div class="icon-box">
                  <i class="ri-{{ item.icon }}" style="color: {{ item.color }};"></i>
                  <h3>{{ item.text }}</h3>
                  </div>
              </div>
          {% endfor %}
        {% endif %}

      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title d-flex align-items-center justify-content-between">
        <h2>Testimonials{% if testimonials_count.count > 0  %} ({{ testimonials_count.count }}){% endif %}</h2>
        <small class="text-muted d-none d-lg-block">
          You can leave yours in the contact section. 😊
        </small>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          {% if testimonials|length == 0 %}
            <div class="col-12">
              <p class="text-muted">They are still to come...</p>
            </div>
          {% else %}
            {% for item in testimonials %}
              {% if item.show %}
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      {{ item.quote }}
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    {% comment %} <img src="{{ item.imageURL }}" class="testimonial-img img-fluid" alt="{{ item.name }}"> {% endcomment %}
                    <img src="{% static 'img/testimonial.png' %}" class="testimonial-img img-fluid" alt="{{ item.name }}">
                    {% if not item.twitter|length == 0 or item.website|length == 0 %}
                      <span class="float-end me-3 mt-2 fs-5">
                        {% if not item.twitter|length == 0 %}
                          <a href="{{ item.twitter }}" class="mx-2">
                            <i class="bi bi-twitter"></i>
                          </a>
                        {% endif %}
                        {% if not item.website|length == 0 %}
                          <a href="{{ item.website }}" class="mx-2">
                            <i class="bi bi-globe2"></i>
                          </a>
                        {% endif %}
                      </span>
                    {% endif %}
                    <h3>{{ item.name }}</h3>
                    <h4>{{ item.role }}</h4>
                  </div>
                </div>
                <!-- End testimonial item -->
                {% else %}
                  {% if testimonials_count.count == 0  %}
                    <div class="col-12">
                      <p class="text-muted">They are still to come...</p>
                    </div>
                  {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Realisations</h2>
        <p>My Works</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          {% if not projects|length <= 0 %}
          <ul id="portfolio-flters">

            <li data-filter="*" class="filter-active">All</li>
            {% for item in projects %}
              <li data-filter=".{{ item.category.name }}" class="">{{ item.category.name }}</li>
            {% endfor %}
            
          </ul>
          {% else %}
          <small class="text-muted">Give me some time please, let me upload them. 😊</small>
          {% endif %}
        </div>
      </div>

      <div class="row portfolio-container">

        {% for project in projects %}
          <div class="col-lg-4 col-md-6 portfolio-item {{ project.category.name }}">
            <div class="portfolio-wrap">

              {% for images in prj_img %}
                {% if images.first.project == project %}
                  <img src="{{ images.first.imageURL }}" class="img-fluid w-100" alt="{{ project.name }}" style="object-fit: cover;">
                {% endif %}
              {% endfor %}
              
              <div class="portfolio-info">
                <h4>{{ project.name }}</h4>
                <p>{{ project.project_date }}</p>
                <small class="text-white-50">({{ project.project_date | naturaltime }})</small>
                <div class="portfolio-links">
                  {% for images in prj_img %}
                    {% if images.first.project == project %}
                      <a href="{{ images.first.imageURL }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ project.name }}:&#13;{{ images.first.caption }}"><i class="bx bx-fullscreen"></i></a>
                    {% endif %}
                  {% endfor %}
                  {% comment %} <a href="{% url 'case' project.project.id project.project.name %}" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="{{ project.project.name }} Details"><i class="bx bx-link"></i></a> {% endcomment %}
                  <a href="{% url 'case' project.id project.slug %}" title="{{ project.name }} Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Here I am</h3>
            <p>Carrefour Obili, Yaounde, Cameroon</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <!-- TODO: Fill in the links with your proper social links. -->
                <a href="https://twitter.com/MakolleG" class="twitter"><i class="bi bi-twitter"></i></a>  
                <a href="https://www.linkedin.com/in/edmond-ghislain-makolle-99716b1a2/" class="linkedin mx-2"><i class="bi bi-linkedin"></i></a>
                <a href="https://t.me/Edghi_Makol" class="telegram mx-2"><i class="bi bi-telegram"></i></a>
                <a href="https://g.dev/edghi" class="google mx-2"><i class="bi bi-google"></i></a>
                <a href="https://wa.me/23791678378?text=Salut%20Ghislain." class="whatsapp ms-1"><i class="bi bi-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p><a href="mailto:edghimakoll@gmail.com" class="">edghimakoll@gmail.com</a></p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-support"></i>
            <h3>Let's chat</h3>
            <p>
              [6 91 67 83 78: <a href="tel:+237691678378" class="me-2">Call</a> | <a href="sms:+237691678378" class="ms-2">SMS</a>]
              <!-- TODO: Uncomment the two lines below if you get another phone number. -->
              {% comment %} &ThickSpace;
              [6 XX XX XX XX: <a href="tel:+2376XXXXXXXX" class="me-2">Call</a> | <a href="sms:+2376XXXXXXXX" class="ms-2">SMS</a>] {% endcomment %}
            </p>
          </div>
        </div>
      </div>

      <div class="section-title mt-5">
        <h2>Your testimonial</h2>
      </div>

      <form method="post" role="form" class="php-email-form mt-4" enctype="multipart/form-data">
        {{ form.errors }}
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="name">Display name</label>
            {{ form.name }}
          </div>
          <div class="col-md-6 form-group">
            <label for="role">Role/Profession</label>
            {{ form.role }}
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6 form-group">
            <label for="twitter">Twitter url</label>
            {{ form.twitter }}
          </div>
          <div class="col-md-6 form-group">
            <label for="website">Personal Website</label>
            {{ form.website }}
          </div>
        </div>
        
        <div class="form-group mt-3">
            <label for="quote">A message for me 🥺</label>
            {{ form.quote }}
        </div>
        <div class="text-center my-3"><button type="submit">Submit Message</button></div>
      </form>

      <div class="row mt-3 align-items-center justify-content-center" style="background: url(../static/img/path.png) no-repeat center; background-size: cover;">
        <div class="col-sm-12 col-md-6 col-lg-8">
          <div class="p-lg-5 p-4 rounded rounded-5" style="text-align: justify; border: 2px dashed #a736ec;">
            <p>
              <!-- Innovating design, bringing ideas to life, revolutionizing user experiences one pixel at a time, creating simple &
              intuitive solutions that make a real difference. -->
              Enhance your business capabilities with my expertise in Python: 
              efficient, dependable &amp; innovative backend development solutions 
              tailored to your needs.
            </p>
            <br>
            <small class="text-muted">
              Creative • Innovative • Intuitive • Impactful • THINK BIG
            </small>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img src="{% static 'img/work.webp' %}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Contact Section -->
{% endblock body %}
